body{
   background-color: #1b181a
   
}
h1{
    text-align: center;
    
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
}
h2{
    font-family: "Open Sans Condesed", sans-serif;

}
p{
    text-align: justify;
    font-family: "Crinsom Text";
}

